*{
    margin: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f9fbfd;
}

header{
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

a.logo{
    text-align: center;
    width: 150px;
    background-image: url("../img/the-lake-logo-b.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
    text-indent: -10000px;
}

nav li{
    padding: 5px 40px;;
    list-style-type: none;
    position: relative;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #666;
    font-size: 18px;
}


nav li a:before,
nav li a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    background: #c2c2c2;
    transition: all 0.3s;
    transform: scaleX(0);
}

nav li a:hover:after,
nav li a:hover:before{
    opacity: 1;
    transform: scaleX(1);
}


nav li a:before{
    top: 0;
    left: 0;
    transform-origin: left;
}

nav li a:after{
    bottom: 0;
    right: 0;
    transform-origin: right;
}

/* -- Banner --*/

.main-banner{
    position: relative;
    color: #f7f7f7;
    text-align: left;
}

.black-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000002c;
}

.main-banner img{
    width: 100%;
    height: 400px;
}

.text-on-img-1{
    position: absolute;
    text-align: center;
    bottom: 75%;
    width: 100%;
    font-size: 1.7em;
    text-shadow: 1px 1px 3px #4d4d4d;
}


/* <!-- Main --> */


main{
    max-width: 1550px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    flex-wrap: wrap;
    position: relative;
}

.flex-container{
    display: flex;
    width: 470px;
    height: 350px;
    margin: 20px;
    padding: 0px;
    background-color: #e6e6e6;
    border-radius: 5px;
    transform: translateY(100rem);
    animation: slideIn .7s forwards;
}

.flex-container.box-1{
    animation-delay: 0s;
}

.flex-container.box-2{
    animation-delay: .1s;
}

.flex-container.box-3{
    animation-delay: .2s;
}

.flex-container.box-4{
    animation-delay: .3s;
}

.flex-container.box-5{
    animation-delay: .4s;
}

.flex-container.box-6{
    animation-delay: .5s;
}

.flex-container.box-7{
    animation-delay: .6s;
}

.flex-container p{
    font-size: 18px;
}

.text-box:after,
.text-box:before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .7s;
}

.text-box:before{
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid #8d8d8d;
    border-right: 2px solid #8d8d8d;
}

.text-box:after{
    top: -1px;
    left: -1px;
    border-top: 2px solid #8d8d8d;
    border-left: 2px solid #8d8d8d;
}

.text-box:hover:after,
.text-box:hover:before{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.box-1 img, .box-3 img, .box-7 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.box-2, .box-4{
    align-items: center;
    text-align: center;
}

article.a2, .a4, .a6{
    padding: 10px 25px;
}

article h3{
    padding-bottom: 20px;
    font-size: 30px;
}

.box-5{
    min-width: 980px;
    align-items: center;
}

.box-5 img{
    width: 300px;
    border-radius: 50%;
}

article.a5{
    display: flex;
    padding: 25px;
    width: 100%;
}

.text-aside{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.box-6 p{
    padding-top: 25px;
}

article.a6{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-6 img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.a7, .a3, .a1{
    position: relative;
}

.a7 img, .a3 img, .a1 img{
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-on-img{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.a7:hover img, .a3:hover img, .a1:hover img{
    opacity: 0.3;
}

.a7:hover .hover-on-img, 
.a3:hover .hover-on-img, 
.a1:hover .hover-on-img{
    opacity: 1;
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateY(0);
    }
}


/* <!-- Footer --> */


footer{
    background-color: #c2c2c2;
    transform: translateY(100rem);
    animation: slideIn .7s forwards;
    animation-delay: 1s;
}

.footer-flex{
    display: flex;
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
    color: #181818;
    justify-content: space-between;
    align-items: center;
}

.footer-flex ul{
    padding: 10px;
}

.contact{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.contact a{
    text-decoration: none;
    color: #181818;
}

.contact img{
    width: 20px;
}

.footer-flex li{
    list-style: none;
}

.newsletter ul{
    width: 250px;;
}

.newsletter label{
    font-size: 18px;
}

.newsletter input{
    width: 85%;
    padding: 7px;
    margin: 3px;
    border: 3px solid #fff;
    border-radius: 6px;
}

.newsletter input:focus{
    outline: none;
    border: 3px solid #9af0ff;
    background-color: #f0f0f0;
}