*{
    margin: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f9fbfd;
}

header{
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

a.logo{
    text-align: center;
    width: 150px;
    background-image: url("../img/the-lake-logo-b.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
    text-indent: -10000px;
}

nav li{
    padding: 5px 40px;;
    list-style-type: none;
    position: relative;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #666;
    font-size: 18px;
}


nav li a:before,
nav li a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    background: #c2c2c2;
    transition: all 0.3s;
    transform: scaleX(0);
}

nav li a:hover:after,
nav li a:hover:before{
    opacity: 1;
    transform: scaleX(1);
}


nav li a:before{
    top: 0;
    left: 0;
    transform-origin: left;
}

nav li a:after{
    bottom: 0;
    right: 0;
    transform-origin: right;
}

/*-- Banner --*/

.main-banner{
    position: relative;
    color: #f7f7f7;
    text-align: left;
}

/* .black-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000049;
} */

.main-banner img{
    width: 100%;
    height: 500px;
}

.text-on-img-1{
    position: absolute;
    text-align: center;
    bottom: 80%;
    width: 100%;
    font-size: 1.7em;
    text-shadow: 1px 1px 3px #4d4d4d;
}

/*-- Main --*/

main{
    max-width: 1550px;
}

.services-introducion{
    margin-bottom: 100px;
}

.services-introducion h2, h3{
    text-align: center;
}

.services-introducion h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.services-introducion h3{
    font-size: 26px;
    margin-bottom: 30px;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.intro-article{
    width: 40%;
    margin: 25px;
    min-width: 300px;;
}

.intro-article p{
    padding: 10px;
    font-size: 20px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
}

.flex-container{
    display: flex;
    width: 26%;
    min-width: 400px;
    margin: 20px;
    padding: 0px;
    background-color: #e6e6e6;
    border-radius: 5px;
    /* transform: translateY(100rem);
    animation: slideIn .7s forwards; */
}

.flex-container img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

article.a6{
    display: flex;
    flex-flow: column;
    text-align: center;
}

article.a6 h3{
    padding: 10px;
}

.a6{
    position: relative;
}

.a6 img{
    transition: .5s ease;
}

.hover-on-img{
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 30%;
    height: 35%;
    position: absolute;
    cursor: pointer;
    background: #666;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.hover-on-img img{
    width: 40%;
    height: 40%;
}

.a6:hover .bg img{
    opacity: 0.3;
}

.a6:hover .hover-on-img{
    opacity: 1;
}


/* <!-- Footer --> */


footer{
    background-color: #c2c2c2;
    /* transform: translateY(100rem);
    animation: slideIn .7s forwards;
    animation-delay: 1s; */
}

.footer-flex{
    display: flex;
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
    color: #181818;
    justify-content: space-between;
    align-items: center;
}

.footer-flex ul{
    padding: 10px;
}

.contact{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.contact a{
    text-decoration: none;
    color: #181818;
}

.contact img{
    width: 20px;
}

.footer-flex li{
    list-style: none;
}

.newsletter ul{
    width: 250px;;
}

.newsletter label{
    font-size: 18px;
}

.newsletter input{
    width: 85%;
    padding: 7px;
    margin: 3px;
    border: 3px solid #fff;
    border-radius: 6px;
}

.newsletter input:focus{
    outline: none;
    border: 3px solid #9af0ff;
    background-color: #f0f0f0;
}